//
   Created by omer on 16/03/2016.

doctype html
html(lang="en")
    head
        link(rel="stylesheet" type="text/css" href="/static/stylesheets/dropzone.min.css")
        link(rel="stylesheet" type="text/css" href="/static/stylesheets/email.css")
        script(src="/static/javascripts/dropzone.min.js")
        script(src='/static/javascripts/jquery-1.12.1.min.js')
        script(src="/static/javascripts/email.js")
    body
        div.dropform
            form(action="/email" id='fileuploadzone' class="dropzone" enctype="multipart/form-data")
                div(class="dz-message")
                img(src="/static/images/drop.png" id="dropimg")
                div(class="fallback")
                    input(type="file"  id="fileUpload" placeholder="drag file here")
        input(type="email" id="from" placeholder="From email")
        input(type="email" id="to" placeholder="To email")
        button(id="submitButton" onclick="submit()") Send



